body {
  background-color: #F6F6F6;
  width: 100%;
  font-family: 'Open Sans';
  color: #333;
}

#container {
  width: 100%;
}

.space-top {
  padding-top: 50px;
}

.user {
  font-size: 20px;
  font-family: 'Raleway';
}

#firstRow {
  width: 100%;
  order: -1;
  justify-content: space-around;
}

.title {
  width: 100%;
  font-family: 'Raleway';
  font-size: 40px;
  justify-content: center;
}

.icon-mask {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: #0094ff;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.icon-resize-tall {
  position: absolute;
  width: 150px;
  height: auto;
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: 50px;
}

.icon-resize-wide {
  position: absolute;
  width: auto;
  height: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
  min-height: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart {
  font-size: 40px;
  color: red;
  display: flex;
  align-items: center;
}

/* D3 */
svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#pieChart {
  height: 450px;
  width: 450px;
}

/* Helper */
.center {
  text-align: center;
}

#graphs {
  font-weight: bold;
}
